:root {
  --text-color: rgba(0, 0, 0, 0.84);
  --background-color: #fff;

  --z-index-navigation-arrows: 100;

  --nagivation-arrows-height: 75px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.84);
    --background-color: #000;
  }
}

a, abbr, address, area, article, aside, audio, b, bdi, bdo, blockquote, body, br, button, canvas, caption, cite, code, col, colgroup, data, datalist, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, main, map, mark, meter, nav, noscript, object, ol, optgroup, option, output, p, param, picture, pre, progress, q, rp, rt, rtc, ruby, s, samp, section, select, slot, small, source, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, title, tr, track, u, ul, var, video, wbr {
  all: unset;
  display: block;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: var(--text-color);
}

body {
  overflow: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/*
 * Slides are listed here. They should come in same order as in HTML.
 * The last slide will be shown as default one.
 */
#aspect-ratio:target,
#viewport:target,
#scrollbar-width:target,
#resolution:target {
  z-index: 1;
}

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--background-color);
}

.slide__secondary-text {
  font-size: 1.5rem;
}

.slide__primary-text {
  font-size: 3rem;
  cursor: copy;
}

.slide__primary-text:empty {
  visibility: hidden;
}

.navigation-arrows {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-navigation-arrows);
}

@media (prefers-color-scheme: dark) {
    .navigation-arrows {
        filter: invert(100%);
    }
}

.navigation-arrows__arrow {
  width: 50%;
  font-size: 0;
  cursor: default;
  line-height: var(--nagivation-arrows-height);
  height: var(--nagivation-arrows-height);
  text-align: center;
  vertical-align: middle;

  background-position: center;
  background-repeat: no-repeat;
}

.navigation-arrows__arrow--left {
  background-color: white;
  background-image: url('~material-design-icons/navigation/svg/production/ic_arrow_back_48px.svg');
}

.navigation-arrows__arrow--right {
  background-color: white;
  background-image: url('~material-design-icons/navigation/svg/production/ic_arrow_forward_48px.svg');
}

.navigation-arrows__arrow:hover,
.navigation-arrows__arrow:focus,
.navigation-arrows__arrow:active {
  background-color: #eee;
}
